@model IEnumerable<TheLibrary.Models.Book>
@{
    ViewData["Title"] = "Список книг библиотеки";
}
<h2>Книжки</h2>
<table class="table-bordered">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Издатель</td>
        <td>В наличии</td>
        <td>Забронировано</td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>@book.Genre</td>
            <td>@book.Publisher</td>
            @if (book.IsAvaliable)
            {
                <td>В библиотеке</td>
            }
            else
            {
                <td>На руках</td>
            }
            @if (!book.IsBooked)
            {
                <td><a href="~/Home/ToBook/@book.Id">Забронировать</a> </td>
            }
            else
            {
                <td>Недоступно для бронирования</td>
            }
        </tr>
    }
</table>